!.gitignore

# Sensitive information
ip_bans.yaml
secrets.yaml

# System files (keeping notable configurations made via the GUI)
*.db
*.db-shm
*.db-wal
.cache
.ha_run.lock
.ruff_cache
.storage/*
!.storage/core.area_registry
!.storage/core.floor_registry
!.storage/energy
!.storage/frontend_theme
!.storage/frontend.system_data
!.storage/lovelace*
__pycache__
appdaemon/compiled
appdaemon/namespaces
blueprints
deps
image
tts
webostv.conf
www/*
!www/panel-redirect.js
zwavejs*

# Custom components (keeping manifests and alterations)
custom_components/*/*
!custom_components/*/manifest.json
!custom_components/apparent_temperature/sensor.py
cuboai_*
go2rtc*
themes/*/*.jpg
watchman_report.txt

# Logs
home-assistant.log*
appdaemon/logs
*.log

# Visual Studio Code
.vscode
appdaemon/apps/appdaemon/*
!appdaemon/apps/appdaemon/version.py