!.gitignore

# Sensitive information
ip_bans.yaml
secrets.yaml

# Custom components (keeping manifests and customisations)
custom_components/*/*
!custom_components/*/manifest.json
!custom_components/tuya_local/devices/hunter_pacific_evolve_ceiling_fan_and_light.yaml
!custom_components/apparent_temperature/sensor.py

# Logs
home-assistant.log*
appdaemon/logs
*.log

# System files
*.db
*.db-shm
*.db-wal
.ruff_cache
.storage
__pycache__
appdaemon/compiled
appdaemon/namespaces
blueprints
deps
image
tts
www
go2rtc*
webostv.conf

# Visual Studio Code
.vscode
appdaemon/apps/appdaemon/*
!appdaemon/apps/appdaemon/version.py