!.gitignore

# Sensitive information
ip_bans.yaml
secrets.yaml

# System configuration (keeping edits made through GUI)
.storage/*
!.storage/core.area_registry
!.storage/core.device_registry
!.storage/core.entity_registry
!.storage/core.floor_registry
!.storage/energy
!.storage/lovelace

# Custom components (keeping manifests and customisations)
custom_components/*/*
!custom_components/*/manifest.json
!custom_components/apparent_temperature/sensor.py

# Logs
home-assistant.log*
appdaemon/logs
*.log

# System files
*.db
*.db-shm
*.db-wal
.ruff_cache
__pycache__
appdaemon/compiled
appdaemon/namespaces
blueprints
deps
image
tts
www
go2rtc*
webostv.conf

# Visual Studio Code
.vscode
appdaemon/apps/appdaemon/*
!appdaemon/apps/appdaemon/version.py