{%- macro temperature_sensor_battery(location) -%}
    {%- set entity_id = 'sensor.' + location + '_temperature_sensor_battery_state' -%}
    {%- if states(entity_id) == 'high' -%}
        90
    {%- elif states(entity_id) == 'middle' -%}
        50
    {%- elif states(entity_id) == 'low' -%}
        20
    {%- else -%}
        {{- states(entity_id) -}}
    {%- endif -%}
{%- endmacro -%}