{%- macro fan_airspeed(room) -%}
    {%- set entity_id = 'fan.' + room -%}
    {%- set max_airspeed = 0.1*100/0.7 -%}
    {%- if state_attr(entity_id, 'direction') == "reverse" -%}
        {%- set max_airspeed = max_airpseed / 3.5 -%}
    {%- endif -%}
    {%- if states(entity_id) == "on" -%}
        {{- max_airspeed * state_attr(entity_id, 'percentage') / 100 -}}
    {%- else -%}
        {{- 0 -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro aircon_airspeed(room) -%}
    {%- set entity_id = 'climate.' + room + '_aircon' -%}
    {%- set mode = states(entity_id) -%}
    {%- if mode != "off" -%}
        {%- set max_airspeed = 3 -%}
        {%- set max_fan_temp_diff = 5 -%}
        {%- set fan_strength = state_attr(entity_id, 'fan_mode') -%}
        {%- if fan_strength == 'quiet' -%}
            {%- set fan_strength = 0.1 -%}
        {%- elif fan_strength == 'low' -%}
            {%- set fan_strength = 0.25 -%}
        {%- elif fan_strength == 'medium' -%}
            {%- set fan_strength = 0.5 -%}
        {%- elif fan_strength == 'medium_high' -%}
            {%- set fan_strength = 0.65 -%}
        {%- elif fan_strength == 'high' -%}
            {%- set fan_strength = 0.8 -%}
        {%- elif fan_strength == 'strong' -%}
            {%- set fan_strength = 1 -%}
        {%- elif fan_strength == 'auto' -%}
            {%- set temperature_difference = state_attr(entity_id, 'current_temperature') - state_attr(entity_id, 'temperature') -%}
            {%- if mode == "heat" -%}
                {%- set temperature_difference = -temperature_difference -%}
            {%- elif mode == "heat_cool" -%}
                {%- set temperature_difference = temperature_difference|abs -%}
            {%- endif -%}
            {%- set fan_strength = max(0.1, min(1, temperature_difference / max_fan_temp_diff)) -%}
        {%- endif -%}
        {{- max_airspeed * fan_strength -}}
    {%- else -%}
        {{- 0 -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro aircon_power(room) -%}
    {%- set entity_id = 'climate.' + room + '_aircon' -%}
    {%- set max_airspeed = 3 -%}
    {%- set mode = states(entity_id) -%}
    {%- if mode == "fan_only" -%}
        {%- set heat_pump_power_factor = 0 -%}
    {%- else -%}
        {%- set max_power_temperature_factor = 15 -%}
        {%- set indoor_temperature = state_attr(entity_id, 'current_temperature')|float(24) -%}
        {%- set target_temperature = state_attr(entity_id, 'temperature')|float(24) -%}
        {%- set outdoor_temperature = states('sensor.outside_apparent_temperature')|float(25) -%}
        {%- set indoor_difference = indoor_temperature - target_temperature -%}
        {%- set outdoor_difference = outdoor_temperature - target_temperature -%}
        {%- set temperature_factor = indoor_difference + 2 * outdoor_difference -%}
        {%- if mode == "heat" -%}
            {%- set temperature_factor = -temperature_factor -%}
        {%- elif mode == "heat_cool" -%}
            {%- set temperature_factor = temperature_factor|abs -%}
        {%- endif -%}
        {%- set heat_pump_power_factor = 0.2 + 0.8 * max(0, min(1, temperature_factor / max_power_temperature_factor)) -%}
    {%- endif -%}
    {%- set fan_power = 50 + 100 * states('sensor.' + room + '_aircon_airspeed')|float(0) / max_airspeed -%}
    {{- heat_pump_power_factor * (2500 if room == 'living_room' else 1120) + fan_power -}}
{%- endmacro -%}